* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 80px;
    background-color: #0d6db7;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width: 80px;
    display: flex;
    align-items: center;
}

.logo>img {
    width: 100%;
    height: 40px;
}

.icn {
    display: flex;
    align-items: center;


}

.icn>a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.main {
    width: 100%;
    margin-top: 80px;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quiz-name {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #0d6db7;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 80px;
    gap: 20px;

}

.input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input>input::placeholder {
    color: silver;
}

.input>input {
    width: 100%;
    height: 40px;
    padding: 20px;
    color: gray;
}

input:focus {
    outline: none;
}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.btn>button {
    padding: 8px 12px;
    border: none;
    background-color: #0d6db7;
    color: white;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    header {
        padding: 10px 40px;
    }

    .logo>img {
        width: 60px;
    }

    .icn>a {
        font-size: 1.5rem;
    }

    .main {
        padding: 40px;
    }
    .quiz-name{
        font-size: 1rem;
        padding: 20px;
    }
    .inp{
        padding: 20px 40px;
    }
}