* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 80px;
    background-color: #0d6db7;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.logo {
    width: 80px;
    display: flex;
    align-items: center;
}

.logo>img {
    width: 100%;
    height: 40px;
}

.icn {
    display: flex;
    align-items: center;


}

.icn>a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.main {
    width: 100%;
    margin-top: 80px;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */




}

.main-box {
    width: 100%;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #0d6db7;
    border-bottom: 1px solid #0d6db7;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;




}

.both {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.timer {

    display: flex;
    align-items: center;
    justify-content: right;
}

.que {

    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;
}

.opt1 {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 10px;

}

.time {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #0d6db7;
    background-color: white;
    border: 1px solid #0d6db7;
    padding: 10px;

}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border: none;
    background-color: white;
    color: #0d6db7;
    border: 1px solid #0d6db7;
    cursor: pointer;
}

.btn1:active {
    color: white;
    background-color: #0d6db7;
}

.mains {
    width: 100%;
    margin-top: 80px;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */

    display: none;


}

.result {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-top: 1px solid #0d6db7;
    border-bottom: 1px solid #0d6db7;

}

.headers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: #0d6db7;
    padding: 15px;

}

.icns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    color: green;
    padding: 5px;


}

.per {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.per-round {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid green;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
}

.announce {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: green;
    padding: 5px;
}

.tit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: green;
    padding: 5px;
}

.correct {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    color: #0d6db7;
    padding: 5px;
}

.total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    color: #0d6db7;
    padding: 5px;
}



@media screen and (max-width:550px) {
    header {
        padding: 10px 40px;
    }

    footer {
        font-size: 0.6rem;
        padding: 10px 40px;
    }

    .logo>img {
        width: 60px;
    }

    .icn>a {
        font-size: 1.5rem;
    }

    .main {
        padding: 40px;
    }

    .main-box {
        padding: 40px;
    }

    .btn1 {
        font-size: 0.8rem;
        padding: 6px 15px;
    }

    .opt1 {
        font-size: 0.6rem;
    }

    .que {
        font-size: 0.8rem;
    }

    .time {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 5px;
        font-size: 0.8rem;
    }

    .result {
        gap: 10px;
        padding: 10px;
    }

    .headers {
        font-size: 1rem;
    }

    .icns {
        font-size: 2rem;
    }

    .tit {
        font-size: 1rem;
    }

}