* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: #0d6db7;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width: 80px;
    display: flex;
    align-items: center;
}

.logo>img {
    width: 100%;
    height: 40px;
}

.icn {
    display: flex;
    align-items: center;


}

.icn>a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.main {
    width: 100%;
    margin-top: 60px;
    padding: 40px 80px;
    display: flex;
    align-items: center;


}

.title {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    color: #0d6db7;
    font-size: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.topic{
    width: 100%;
    padding: 10px 80px;
    display: flex;
    align-items: center;
}

.topic-name {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sub1{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #0d6db7;
    border-bottom: 1px solid gray;
    background-color: white;
    padding: 10px 5px;
    cursor: pointer;
}
.sub2{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #0d6db7;
    border-bottom: 1px solid gray;
    background-color: white;
    padding: 10px 5px;
    cursor: pointer;
}
.sub3{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #0d6db7;
    border-bottom: 1px solid gray;
    background-color: white;
    padding: 10px 5px;
    cursor: pointer;
}
.sub1:hover{
    background-color: #0d6db7;
    color: white;
}
.sub2:hover{
    background-color: #0d6db7;
    color: white;
}
.sub3:hover{
    background-color: #0d6db7;
    color: white;
}





@media screen and (max-width:500px) {
    header {
        padding: 10px 40px;
    }

    .logo>img {
        width: 60px;
    }

    .icn>a {
        font-size: 1.5rem;
    }

    .main {
        padding: 40px;
    }
    .title{
        font-size: 1.5rem;
    }
    .topic{
        padding: 40px;
    }
}