* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 80px;
    background-color: #0d6db7;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width: 80px;
    display: flex;
    align-items: center;
}

.logo>img {
    width: 100%;
    height: 40px;
}

.icn {
    display: flex;
    align-items: center;


}

.icn>a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.hero {
    width: 100%;
    margin-top: 80px;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 80px;
    background-color: #0d6db7;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    width: 80px;
    display: flex;
    align-items: center;
}

.logo>img {
    width: 100%;
    height: 40px;
}

.icn {
    display: flex;
    align-items: center;


}

.icn>a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.hero {
    width: 100%;
    margin-top: 80px;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.box {
    width: 350px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    border-top: 1px solid #0d6db7;
    border-bottom: 1px solid #0d6db7;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #0d6db7;
}

.email {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #0d6db7;
    border-bottom: 1px solid #0d6db7;
    padding: 10px;
    

}

.verify {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #0d6db7;
    border-bottom: 1px solid #0d6db7;
    padding: 10px;
    
   
}

.btn1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1>button {
    padding: 6px 12px;
    background-color: #0d6db7;
    color: white;
    border: none;
    cursor: pointer;
}

.btn2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.btn2>button {
    padding: 6px 12px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;

}

@media screen and (max-width:500px) {
    header {
        padding: 10px 40px;
    }

    .logo>img {
        width: 60px;
    }

    .icn>a {
        font-size: 1.5rem;
    }

    .hero {
        padding: 40px;
    }
}